// #44b5f9
@mixin default() {
  --bg-color: #222;
  --ft-color: #fff;
  --bt-color: #1e7eef;
  --fd-color: #777777;
  --ln-color: #333333;
  --act-color: #555555;
  --vidb-color: #141414;
  --ib-color: #333;
}